@import url('./base.css');
@import url('./layout.css');
@import url('./ui.css');
@import url('./library.css');
@import url('./reader.css');
@import url('./utilities.css');
@import url('../books/pajaro-azul/styles.css');
@import url('../effects/overlay/styles.css');
@import url('../effects/bluebird/styles.css');
@import url('../effects/smoke/styles.css');
@import url('../effects/rain/styles.css');
@import url('../effects/beetle/styles.css');
