@import url('./global.css');
@import url('../books/pajaro-azul/styles.css');
@import url('../effects/overlay/styles.css');
@import url('../effects/bluebird/styles.css');
@import url('../effects/smoke/styles.css');
@import url('../effects/rain/styles.css');
